Proyecto.Test/Web References/wsServicios/Servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEventos">
        <s:complexType />
      </s:element>
      <s:element name="GetEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventos_xml">
        <s:complexType />
      </s:element>
      <s:element name="GetEventos_xmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventos_xmlResult" type="tns:ArrayOfEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Evento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Relacionado" type="tns:Relacionado" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ubicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TodoDia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Relacionado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEvento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateEventoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEventosSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventos" />
  </wsdl:message>
  <wsdl:message name="GetEventosSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventosResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventos_xmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventos_xml" />
  </wsdl:message>
  <wsdl:message name="GetEventos_xmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventos_xmlResponse" />
  </wsdl:message>
  <wsdl:message name="CreateEventoSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEvento" />
  </wsdl:message>
  <wsdl:message name="CreateEventoSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEventoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosSoap">
    <wsdl:operation name="GetEventos">
      <wsdl:input message="tns:GetEventosSoapIn" />
      <wsdl:output message="tns:GetEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventos_xml">
      <wsdl:input message="tns:GetEventos_xmlSoapIn" />
      <wsdl:output message="tns:GetEventos_xmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvento">
      <wsdl:input message="tns:CreateEventoSoapIn" />
      <wsdl:output message="tns:CreateEventoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosSoap" type="tns:ServiciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventos">
      <soap:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventos_xml">
      <soap:operation soapAction="http://tempuri.org/GetEventos_xml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvento">
      <soap:operation soapAction="http://tempuri.org/CreateEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosSoap12" type="tns:ServiciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventos">
      <soap12:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventos_xml">
      <soap12:operation soapAction="http://tempuri.org/GetEventos_xml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvento">
      <soap12:operation soapAction="http://tempuri.org/CreateEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicios">
    <wsdl:port name="ServiciosSoap" binding="tns:ServiciosSoap">
      <soap:address location="http://localhost/Proyecto.Ws/Services/Servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosSoap12" binding="tns:ServiciosSoap12">
      <soap12:address location="http://localhost/Proyecto.Ws/Services/Servicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>