Proyecto.Web/Web References/wsServicios/Servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEventos">
        <s:complexType />
      </s:element>
      <s:element name="GetEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEventosSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventos" />
  </wsdl:message>
  <wsdl:message name="GetEventosSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosSoap">
    <wsdl:operation name="GetEventos">
      <wsdl:input message="tns:GetEventosSoapIn" />
      <wsdl:output message="tns:GetEventosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosSoap" type="tns:ServiciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventos">
      <soap:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosSoap12" type="tns:ServiciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventos">
      <soap12:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicios">
    <wsdl:port name="ServiciosSoap" binding="tns:ServiciosSoap">
      <soap:address location="http://localhost/Proyecto.Ws/Services/Servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosSoap12" binding="tns:ServiciosSoap12">
      <soap12:address location="http://localhost/Proyecto.Ws/Services/Servicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>